body{
    background-color: green;
    color: black
    font-family: Arial, Helvetica, sans-serif;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: aqua
}

a:hover{       /*passa o mouse e fica em outra cor*/
    color: black;
    font-size: 25px;
}

a:link{        /* Link padrão*/
    background-color: rgb(56, 49, 155);

}

body{
    background: url(../img/orla\ de\ icoaraci.png) no-repeat center center fixed;
    background-size: cover; /*Css padrão*/
    -webkit-background-size: cover; /*Css safari e chrome*/
    -moz-background-size: cover; /*Css firefox*/
    -ms-background-size: cover; /*Css IE não use mer#^@%#*/
    -o-background-size: cover; /*Css Opera*/
}

.row {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
}
.demo_wrap h1 {
    padding: 50px;
    position: relative;
    z-index: 2;
}